:root {
    --primary-background-color: #ededed;
    --secondary-background-color: white;
    --button-color: #304529;
}

@font-face {
    font-family: "Norse";
    src: url("./fonts/Norse-Bold.otf");
}

h1 {
    font-family: "Norse", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-background-color);
}

h2 {
    padding: 0;
    margin: 0;
}

h3 {
    margin: 2rem 3rem 0;
}

input {
    border-radius: .5rem;
    height: 2rem;
    font-size: 1.5rem;
}

.form-section > .more-spacing {
    margin: 2rem 3rem;
}

form {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    background-color: var(--secondary-background-color);
    padding: 2rem 0;
    box-shadow: 5px 5px 5px lightgray;
}

.container {
    display: flex;
}

.banner-section {
    display: flex;
    min-height: 100vh;
    width: clamp(650px, 33%, 1200px);
    background-image: url('./images/winter-train.jpg');
    background-size: cover;
    align-items: center;
}

.banner-section h1 {
    font-size: 8rem;
    color: white;
}

.banner {
    display: flex;
    width: clamp(650px, 100%, 1200px);
    background-color: rgb(0,0,0, 0.4);
    align-items: center;
    justify-content: center;
}

.banner > img {
    width: clamp(100px, 25%, 250px);
}

form > h2 {
    width: 100%;
    margin: 0 3rem 0;
}

.form-section {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
}

.form-section > h2 {
    margin: 0 3rem 0;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: max(40%, 300px);
    margin: 0 3rem 0;
}

.submit {
    background-color: var(--button-color);
    width: max(200px, 10%);
    height: 3rem;
    color: white;
    border-radius: 1rem;
    margin: 2rem 3rem 0;
}
